@model ProjetoGame.Models.Descricao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Descricao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cadastro.CadastroId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoJogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoJogo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DescricaoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
