@model IEnumerable<ProjetoGame.Models.Descricao>

@{
    ViewData["Title"] = "Index";
}

<h1>Descrição</h1>

<p>
    <a asp-action="Create">Criar descrição</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                Jogo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoJogo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Nota.NotaValor)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Cadastro.CadastroNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoJogo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DescricaoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.DescricaoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.DescricaoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
