@model IEnumerable<ProjetoGame.Models.Descricao>

@{
    ViewData["Title"] = "Index";
}

<h1>nota</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoJogo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nota.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cadastro.CadastroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoJogo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DescricaoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DescricaoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DescricaoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
