@model IEnumerable<ProjetoGame.Models.Descricao>

@{
    ViewData["Title"] = "Index";
}

<h1>Descrição</h1>

<p>
    <a asp-action="Create">Criar descrição</a>
</p>
<div>
    @using (Html.BeginForm("Index", "Descricao", FormMethod.Get))
    {
                <p>
                    Digite aqui sua pesquisa: @Html.TextBox("pesquisa")
            <input class="pesquisa" type="submit" value="Pesquisar" />
                </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                Jogo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoJogo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>                   
                @if(item.Nota.NotaValor == 1)
                {
                    <img src="~/imagens/estrela 1.png" class="img-estrela1"/>
                }
                else if (item.Nota.NotaValor == 2)
                {
                    <img src="~/imagens/estrela 2.png"  class="img-estrela2"/>
                }
                else if (item.Nota.NotaValor == 3)
                {
                        <img src="~/imagens/estrela 3.png" class="img-estrela3" />
                }
                else if (item.Nota.NotaValor == 4)
                {
                        <img src="~/imagens/estrela 4.png" class="img-estrela4" />
                }
                    else if (item.Nota.NotaValor == 5)
                {
                        <img src="~/imagens/estrela 5.png"  class="img-estrela5"/>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Nota.NotaValor)
                }
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Cadastro.CadastroNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoJogo)
            </td>
            <td>
                    <a class="botao" asp-action="Edit" asp-route-id="@item.DescricaoId">Editar</a> |
                    <a class="botao" asp-action="Details" asp-route-id="@item.DescricaoId">Detalhes</a> |
                    <a class="botao" asp-action="Delete" asp-route-id="@item.DescricaoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
