@model IEnumerable<ProjetoGame.Models.Cadastro>

@{
    ViewData["Title"] = "Index";
}

<h1>Jogo</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    @using (Html.BeginForm("Index", "Cadastro", FormMethod.Get))
    {
                    <p>
                        Digite aqui sua pesquisa: @Html.TextBox("pesquisa")
                        <input type="submit" value="Pesquisar"/>
                    </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CadastroNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadastroName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CadastroNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CadastroName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CadastroId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CadastroId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CadastroId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
